<div class="page-wrap">
<div class="post">
        <div class="header-image">
          <img src="<%= asset_loc + 'header-image.png' %>">
        </div>
        <div class="banner">
          <h1 class="post-title"><%= title %></h1>
        </div>
        <div class="info">
          <div class="author"><p>by <%= author %></p></div>
          <div class="divider"><p> || </p></div>
          <div class="tags"><p><%= tag %></p></div>
        </div>
        <div class="text">
          <%= html %>
        </div>
        </div>


