<div class="page-wrap">
<div class="post">
        <div class="header-image">
          <img src="<%= asset_loc + art %>">
        </div>
        <div class="banner">
          <h1 class="post-title"><%= title %></h1>
        </div>
        <div class="info">
          <div class="author"><p>by <%= author %></p></div>
          <div class="divider"><p> || </p></div>
          <div class="tags"><p><%= tag %></p></div>
        </div>
        <div class="text">
          <%= html %>
        </div>
      </div>
      <div class="pagination">
  <% if prev_post %>
    <div class="lefter">
      <p><a href="<%= host + '/' + this_issue.id + '/' + prev_post.id + '.html' %>">
        << <%= prev_post.title %>
      </a></p>
     </div>
    <% end %>
  <% if next_post %>
    <div class="righter">
      <p><a href="<%= host + '/' + this_issue.id + '/' + next_post.id + '.html' %>">
        <%= next_post.title %> >>
      </a></p>
    </div>
  <% end %>
</div>



