<li class="story-item">
  <img src="{{ artFor this }}"/>
  <div>
    <span class="tag">{{ tag }}</span>
    <a href="/{{ path }}">
      <h1>{{ title }}</h1>
    </a>
    <span class="author">{{ author }}</span>
    <p>{{ opener }}</p>
  </div>
</li>
