<article class="story {{ idFor this }}">
  <header>
    <span class="tag">{{ tag }}</span>
    <h1 class="title">{{ title }}</h1>
    <span class="author">{{ author }}</span>
  </header>

  <div class="content">{{{ contents }}}</div>
</article>
